<app-header></app-header>
<div class="heading">
 <h1> Find Friends</h1>
</div>
<app-search></app-search>
<div class="alunmiPreview">
  <ul>
    <li>
      <div class="alumni">
        <img src="../../../../assets/userpic.jpg" alt="">
        <h3>Jane Doe</h3>
        <div class="details">
          <button>Follow</button>
          <button>Message</button>
        </div>
      </div>
    </li>
    <li>
      <div class="alumni">
        <img src="../../../../assets/userpic.jpg" alt="">
        <h3>Jane Doe</h3>
        <div class="details">
          <button>Follow</button>
          <button>Message</button>
        </div>
      </div>
    </li>
    <li>
      <div class="alumni">
        <img src="../../../../assets/userpic.jpg" alt="">
        <h3>Jane Doe</h3>
        <div class="details">
          <button>Follow</button>
          <button>Message</button>
        </div>
      </div>
    </li>
    <li>
      <div class="alumni">
        <img src="../../../../assets/userpic.jpg" alt="">
        <h3>Jane Doe</h3>
        <div class="details">
          <button>Follow</button>
          <button>Message</button>
        </div>
      </div>
    </li>
    <li>
      <div class="alumni">
        <img src="../../../../assets/userpic.jpg" alt="">
        <h3>Jane Doe</h3>
        <div class="details">
          <button>Follow</button>
          <button>Message</button>
        </div>
      </div>
    </li>
    <li>
      <div class="alumni">
        <img src="../../../../assets/userpic.jpg" alt="">
        <h3>Jane Doe</h3>
        <div class="details">
          <button>Follow</button>
          <button>Message</button>
        </div>
      </div>
    </li>
  </ul>
  <div class="pagination">
    <!-- <a href="#">&laquo;</a> -->
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">...</a>
    <!-- <a href="#">&raquo;</a> -->
  </div>
</div>

<div class="heading">
  <h1> Shared Opportunities</h1>
 </div>
 <app-search></app-search>
 <div class="opportunities">
  <ul>
    <li>
      <div class="oppotunity">
        <img src="../../../../assets/IBM.jfif" alt="">
        <div class="content">
          <div class="titleDate">
            <h2>IBM internships</h2>
            <p>16 August 2022</p>
          </div>
          <div class="description">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Illo rerum modi ullam aspernatur assumenda unde sint
               perferendis atque minima totam! Accusantium
               dolores magni
               Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Illo rerum modi ullam aspernatur assumenda unde sint
               perferendis atque minima totam! Accusantium
               dolores magni aspernatur mollitia
               aliquam corrupti, harum nostrum voluptatibus.
               Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Illo rerum modi ullam aspernatur assumenda unde sint
               perferendis atque minima totam! Accusantium
               dolores magni aspernatur mollitia
               aliquam corrupti, harum nostrum voluptatibus.aspernatur mollitia
               aliquam corrupti, harum nostrum voluptatibus.
            </p>
          </div>
          <div class="author">Author Name</div>
          <div class="content-btn"><button >View</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="oppotunity">
        <img src="../../../../assets/IBM.jfif" alt="">
        <div class="content">
          <div class="titleDate">
            <h2>IBM internships</h2>
            <p>16 August 2022</p>
          </div>
          <div class="description">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Illo rerum modi ullam aspernatur assumenda unde sint
               perferendis atque minima totam! Accusantium
               dolores magni aspernatur mollitia
               aliquam corrupti, harum nostrum voluptatibus.
            </p>
          </div>
          <div class="author">Author Name</div>
          <div class="content-btn"><button >View</button></div>
        </div>
      </div>
    </li>
    <li>
      <div class="oppotunity">
        <img src="../../../../assets/IBM.jfif" alt="">
        <div class="content">
          <div class="titleDate">
            <h2>IBM internships</h2>
            <p>16 August 2022</p>
          </div>
          <div class="description">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Illo rerum modi ullam aspernatur assumenda unde sint
               perferendis atque minima totam! Accusantium
               dolores magni aspernatur mollitia
               aliquam corrupti, harum nostrum voluptatibus.
            </p>
          </div>
          <div class="author">Author Name</div>
          <div class="content-btn"><button >View</button></div>
        </div>
      </div>
    </li>

  </ul>
  <div class="pagination">
    <!-- <a href="#">&laquo;</a> -->
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">...</a>
    <!-- <a href="#">&raquo;</a> -->
  </div>
</div>
