
.heading h1{
  font-size: 36px;
  position: relative;
  display:inline-block;
}
.heading h1::after{
  position: absolute;
  bottom: -10px;
  content: " ";
  width:80%;
  background:black;
  height:2px;
  left: 10%;
  right: 10%;

}
.heading{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.alunmiPreview,.opportunities{
  // margin: 20px;
  background: rgb(239, 239, 239);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 80px 40px;
  max-height: 670px;
}
.alunmiPreview ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
   overflow-y: scroll;
}
.alunmiPreview ul li{
  justify-content: center;

}

.alumni{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: white;
}
ul{
  list-style: none;
}
img{
  height: 180px;
  width: 180px;
  object-fit: cover;
}
.details {
  display: flex;
  gap: 60px;
}
.details button,
.content button{
  border-radius: 30px;
  padding: 5px;
  width: 100px;
  border: 1px solid ;
  background: white;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 16px 6px;
  text-decoration: none;
}

.pagination a:first-child{
  color: red;
}
.opportunities{
align-items: flex-start;
padding-bottom: 60px;
position: relative;
min-height: 800px;

}
.opportunities ul{
  overflow-y: scroll;
}

.oppotunity{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: white;
  margin-bottom: 50px;

}
.oppotunity img{
  min-height: 250px;
  min-width: 250px;
  object-fit: cover;
  margin-left: 40px;

}
.content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
  margin: 0 20px 0 20px;
}
.content h2{
  font-size: 32px;
}
.titleDate{
  display: flex;
  justify-content: space-between;
}
.author{
  margin-top: 0;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.content-btn  {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.content-btn button{
  font-size: 20px;

}
.description{
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
.description p{
  max-width: 80%;
  font-size: 17px;
}
