<div class="footer">
    <div class="row">
 
    <div class="col-lg-4">
       <h1>FOLLOW US</h1>
        <a href="#" target="_blank"><i class="bi bi-twitter"> </i>  Twitter</a>
        
        <br>
        <a href="https://www.facebook.com/TUT-Alumni-819497214776114/" target="_blank"><i class="bi bi-facebook"> </i>  Facebook</a>
            <br>
            <a href="za.linkedin.com/in/tut-alumni-44bb19244" target="_blank"><i class="bi bi-linkedin"></i>  LinkedIn</a>
            <br>
            <a href="https://www.instagram.com/tut_alumni/" target="_blank"><i class="bi bi-instagram"> </i>  Instagram</a>
            <br>
    </div>
 
    <div class="col-lg-4">

        <h1>Other Links</h1>

        <a href="https://www.tut.ac.za/" target="_blank"><i class="bi bi-link"> </i>TUT Official Website</a>
        <br>
        <a href="https://tut4life.tut.ac.za/" target="_blank"><i class="bi bi-link"> </i>TUT4LIFE</a>
        <br>
        <a href="https://ienabler.tut.ac.za/pls/prodi41/w99pkg.mi_login" target="_blank"><i class="bi bi-link"> </i>ITS SYSTEM</a>
    </div>
   
    <div class="col-lg-4">
        <img src="./assets/image/tut.png">
        <br>
        </div> 
<br>
<hr class="hr1" />
<div class="text-center">
    <div class="copyright">
       &copy; Copyright <strong><span>2022 TUTALUMNI</span></strong>- All Rights Reserved
      </div>
</div>
    </div>
