
<div class="header1">
   
    <h1>
          </h1>
    <div class="header-description">
      <p></p>
    </div>
</div>
<div class="banner">
    <h5>ADD LATEST EVENTS.
    </h5>
  </div>
 <br><br><br><br><div class="container">
    <form class="bannerContainer" >
        <div class="col-center-4 "  >
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">EVENT NAME</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">DECSRIPTION</label>
                <input type="text" class="form-control" id="description" placeholder="">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">DATE</label>
                <input type="date" class="form-control" id="formGroupExampleInput" placeholder="">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">LOCATION</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
              </div>
            </div>
        
            <br>
            <br>
            <div class="wrapper">
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
            <div><img [src]="url" *ngIf="url"></div>
            
           
           
          
            <p>
                <input type="file" (change)="selectFile($event)">
            </p>
            
                </div>
            <div class="text-center">
                <br><br><a routerLink="#"><button type="button" class="btn btn-outline-primary">UPLOAD </button>   <i>   </i></a>
            
        </div>
         
        </form>
        
  </div>
