<!-- <app-header>
</app-header> -->
<div class="header">
    <h1>{{headerTitle}}</h1>
    <div class="header-description">
      <p>{{headerDescription}}</p>
    </div>
    </div>

    <div class="banner">
    <h5>Read #TUT_ALUMNI Latest News</h5>
    </div>
     <div class="sections">
      <div class="left-section">
        <div class="heading">
          <ul>
            <li>
              <a tabindex="1" routerLink="/career"><h4>ABOUT TUT ALUMNI</h4></a>
              <hr>
            </li>
            <li>
              <a tabindex="1" routerLink="/career"><h4>LATEST NEWS</h4>
              </a>
              <hr>
            </li>
            <li>
              <a tabindex="1" routerLink="/career"><h4>UPCOMING EVENTS</h4></a>

              <hr>
            </li>
          </ul>
         </div>
         <div class="bottom-left-info">
         <a href=""><h3>Find more on News and Events...</h3></a>
         <ul>
          <li>
            <a tabindex="1" routerLink="/career"><h4># NewsFeed Page</h4></a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4># Gallery Page</h4>
            </a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>TUT Posters</h4></a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>Givings</h4></a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>TUT Webmail</h4></a>
          </li>
        </ul>
      </div>
      </div>

      <div class="right-section">
        <div class="top-section">

        <h2>On campus and beyond the gates,#TUT_Alumni News
        </h2>
        <p>From virtual conversations on research and issues of the day to alumni networking and social gatherings, find events that will keep you engaged with #TUT_ALUMNI and in the life of the University..</p>

        </div>
        <!-- <app-search></app-search> -->

        <div class="contents">
          <div class="heading">
            <h1> Latest News</h1>
           </div>
           <div class="post-data">
            <img src="../../../../assets/vol.png" alt="">
            <div class="post-details">
              <div class="details-heading">
                <h2>NEWS TITLE </h2>
                <p>Posted: Tuesday, 14 September 2022</p>
              </div>
              <div class="info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Aliquid in est doloremque illo voluptatem iusto a
                  rchitecto, delectus et, inventore debitis, voluptatibus
                  officiis quae
                 quod accusamus temporibus praesentium unde. Distinctio, beatae?</p>
                </div>
            </div>
            </div>
        </div>
        <div>
          <div class="heading">
           </div>
           <div class="post-data">
            <img src="../../../../assets/vol.png" alt="">
            <div class="post-details">
              <div class="details-heading">
                <h2>NEWS TITLE </h2>
                <p>Posted: Tuesday, 14 September 2022</p>
              </div>
              <div class="info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Aliquid in est doloremque illo voluptatem iusto a
                  rchitecto, delectus et, inventore debitis, voluptatibus
                  officiis quae
                 quod accusamus temporibus praesentium unde. Distinctio, beatae?</p>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
