<!-- <app-header>
</app-header> -->

<div class="banner">
  <h5>#TUT_ALUMNI AND FRIENDS GATHERING-FROM SOCIAL TO FACULTY LECTURES OR CAREER NETWORKING NIGHTS
    -OFFERS SOMETHING FOR EVERYONE FIND OUT WHAT'S COMING UP.
  </h5>
</div>
     <div class="sections">
      <div class="left-section">
        <div class="heading">
          <ul>
            <li>
              <a tabindex="1" routerLink="/career"><h4>On Campus Vaccancies</h4></a>
              <hr>
            </li>
            <li>
              <a tabindex="1" routerLink="/career"><h4>Res Vacanccies</h4>
              </a>
              <hr>
            </li>
            <li>
              <a tabindex="1" routerLink="/career"><h4>Career walk-through</h4></a>

              <hr>
            </li>
          </ul>
         </div>
         <div class="bottom-left-info">
         <a href=""><h3>Find more on News and Events...</h3></a>
         <ul>
          <li>
            <a tabindex="1" routerLink="/career"><h4># NewsFeed Page</h4></a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4># Events Page</h4>
            </a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>TUT Posters</h4></a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>Graduation Ceremonies</h4></a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>TUT Webmail</h4></a>
          </li>
        </ul>
      </div>
      </div>

      <div class="right-section">
        <div class="heading">
          <h1> Upcoming Events</h1>
         </div>
         <div class="post-data">

          <img src="../../../../assets/image/bb.jpg" alt="">
          <p>  Posted: Tuesday, 14 September 2022</p>
          <div class="post-details"><br> <br> <br> <br>

         <p><br> <br> <br> <br> <br> <br>Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Aliquid in est doloremque illo voluptatem iusto a
                rchitecto, delectus et, inventore debitis, voluptatibus
                officiis quae
               quod accusamus temporibus praesentium unde. Distinctio, beatae?</p>
          </div>
          </div>
           <button>RSVP</button>
            <div class="heading">
              <h1> Title</h1>
             </div>
             <div class="post-data">
              <img src="../../../../assets/office.jpg" alt="">
              <h1>Posted: Tuesday, 14 September 2022</h1>
              <div class="post-details">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing
                 elit. Aliquid in est doloremque illo voluptatem iusto a
                 rchitecto, delectus et, inventore debitis, voluptatibus
                 officiis quae
                quod accusamus temporibus praesentium unde. Distinctio, beatae?</p>
              </div>

                <button>RSVP</button>
              </div>

      </div>
    </div>
