<!--<div class="page-wrapper">
  <div class="nav-wrapper">
   <div class="grad-bar"></div>
   <nav class="navbar">
     <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Bluestar_%28bus_company%29_logo.svg/1280px-Bluestar_%28bus_company%29_logo.svg.png" alt="Company Logo">
     <div class="menu-toggle" id="mobile-menu">
       <span class="bar"></span>
       <span class="bar"></span>
       <span class="bar"></span>
     </div>
     <ul class="nav no-search">
       <li class="nav-item"><a href="#">Home</a></li>
       <li class="nav-item"><a href="#">About</a></li>
       <li class="nav-item"><a href="#">Work</a></li>
       <li class="nav-item"><a href="#">Careers</a></li>
       <li class="nav-item"><a href="#">Contact Us</a></li>
       <i class="bi bi-search" id="search-icon"></i>
       <input class="search-input" type="text" placeholder="Search..">
     </ul>
   </nav>
  </div>
</div> 

<nav class=" navbar navbar-expand-lg d-flex navbar-light " id ="navbar navbar-expand-lg d-flex navbar-light" >
  <a class="navbar-brand" routerLink=""><img src="/assets/image/Tutlogo.png"> </a>
     
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ">
            <li class="burger" (click)="toggleMenu()">
<i class ="material-icons">{{isMenuOpen ? "close" : "menu-item" }}</i>
            </li>
            <li class="menu-item" [class.is-open]="isMenuOpen">
              <br><br> <a class="nav-link active" routerLink="" routerLinkActive="active-link"[routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="menu-item">
              <br><br> <a class="nav-link" routerLink="About"routerLinkActive="active-link">About</a>
            </li>
            <li class="menu-item">
              <br><br> <a class="nav-link" routerLink="Contact"routerLinkActive="active-link">Contact</a>
            </li>
            <li class="menu-item">
              <br><br> <a class="nav-link" routerLink="events"routerLinkActive="active-link">Event</a>
            </li>
            <li class="menu-item">
              <br><br><a class="nav-link" routerLink="News"routerLinkActive="active-link">News</a>
            </li>
            <li class="menu-item">
              <br><br><a class="nav-link" routerLink="gallery"routerLinkActive="active-link">Gallery</a>
            </li>
            <li class="menu-item">
              <br><br><a class="nav-link" routerLink="Donate"routerLinkActive="active-link">Donate</a>
            </li>
            <li class="menu-item">
              <br><br><a class="nav-link" routerLink="Engage"routerLinkActive="active-link">Engage</a>
            </li>
            <li class="menu-item">
              <br><br><a class="nav-link" routerLink="Career"routerLinkActive="active-link">Career</a>
            </li>
          </ul>
              
      
      </div>
      <form>
       
   
            <li class="nav-item dropdown pe-3">
              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                
                <img [src]="url ? url: 'assets/image/1027249.jpg'" class="Container" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2">OA. OLAYINKA</span>
              </a><!-- End Profile Iamge Icon -->
    
        <!---      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                
                  
                
    
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="view-profile">
                    <i class="bi bi-person"></i>
                    <span>My Profile</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                
    
                <li>
                  
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sign Out</span>
                  </a>
                </li>
    
              </ul> <!-- End Profile Dropdown Items -->
          
              
         
      <!--- </form> 
      
   
      
      </nav>
   
    -->
<!---    <nav id ="nav-bar">
      <ul>
        <li class="logotype">
          <a href="#">ola</a> 
        </li>
        <li class ="press" (click)="toggleMenu()">
          <i class="material-icons"> {{ isMenuOpen ? "close" : "menu" }}</i>
        </li>
        <li class ="menu" [class.is-open]="isMenuOpen">
          <a class="menu-item active" routerLink="" routerLinkActive="active-link"[routerLinkActiveOptions]="{exact:true}">Home</a>
          <a class="menu-item" routerLink="About"routerLinkActive="active-link">About</a>
          <a class="menu-item" routerLink="Contact"routerLinkActive="active-link">Contact</a>
          <a class="menu-item" routerLink="Event"routerLinkActive="active-link">Event</a>
          <a class="menu-item" routerLink="News"routerLinkActive="active-link">News</a>
        </li>
      </ul>
    </nav>
  -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="/assets/image/Tutlogo.png"> </a>
        <button (click)=toggleDisplayDivIf() class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- *ngIf="!isShowDivIf" --- hide and show -->
        <div [ngClass]="!isShowDivIf ? 'responsive__active' : 'responsive__inactive'" class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ">
                <li (click)=toggleDisplayDivIf()  class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="home">Home
                        <span class="sr-only"></span>
                    </a>
                </li>
                <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="./about">About</a>
                </li>
                <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="contact">Contact</a>
                </li>
                <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="events">Event</a>
                </li>
                <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                  <a class="nav-link" routerLink="news">News</a>
              </li>
              <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="gallery">Gallery</a>
            </li>
            <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="connect">Connect</a>
          </li>
          <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="vacancies">Vacancies</a>
        </li>
        <li (click)=toggleDisplayDivIf() class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="donate">Donate</a>
          </li>
            </ul>
            
        </div>
        <form>
          <li class="nav-item dropdown pe-3">
            <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src ="/assets/image/1027249.jpg" class="Container" alt="Profile" class="rounded-circle"> 
              <span class="d-none d-md-block dropdown-toggle ps-2">OA. OLAYINKA</span>
            </a><!-- End Profile Iamge Icon -->
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
         
                <a class="dropdown-item d-flex align-items-center" href="view-profile">
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
            
              <li>
                <hr class="dropdown-divider">
              
              <li>
                
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sign Out</span>
                </a>
              </li>
              
            </ul> <!-- End Profile Dropdown Items -->
          </form>
    </div>
    
    <div class="topDiv">
      <input class="searchBar" type="text" name="" placeholder="Search">
      <button class="button" href="#">
      <i class="material-icons"> search </i>
      </button>
    </div>
      
   
  </nav>
