<div class="header">
  <img src="{{backgroundImg}}" alt="">
<h1>{{headerTitle}}</h1>
</div>

<div class="container">
  <div class="chat-list ">
    <div class="search">
      <button>
        <img src="../../../../assets/Vector.png" alt="">
      </button>
      <input
      type="search"
      formControlName="search"
      placeholder="Search user...">
    </div>
    <ul>
      <li>
        <img src="../../../../assets/userpic.jpg" alt="">
        <p>Jane Doe</p>
      </li>
      <li>
        <img src="../../../../assets/userpic.jpg" alt="">
        <p>Yesoul Peters</p>
      </li>
    </ul>

  </div>

  <div class="messages ">
    <div>
      <div class="chat-header">
        <img src="../../../../assets/userpic.jpg" alt="">
        <p>Jane Doe</p>
      </div>
      <div class="user-texts">
        <ul>
          <li>
            <p>Hey there!</p>
          </li>
        </ul>
      </div>
      <div class="friend-texts">
        <ul>
          <li>
            <p>Hi ☜(ﾟヮﾟ☜) !</p>
          </li>
        </ul>
      </div>
    </div>




    <div class="textinput-area">
      <button>
        <img src="../../../../assets/inpu-icon.png" alt="">
      </button>
      <input type="text" placeholder="type message">
  </div>
  </div>

</div>
