<div class="search">
  <input list="alumni-list" id="alumnus" placeholder="All" autocomplete="o">
  <!-- Can the placeolder be Search for alumni -->
  <datalist id="alumni-list">
    <option value="john doe | software development| 2018-2021"></option>
    <option value="nehamia peters | software development| 2018-2021"></option>
    <option value="zoe amaia smith | software development| 2018-2021"></option>
    <option value="pengia tode | software engineering| 2018-2021"></option>
    <option value="lethabo peterson | human resourses| 2018-2021"></option>
    <option value="samson jackson | multimedia| 2018-2021"></option>
    <option value="katie matthews | electrical engineering| 2018-2021"></option>
    <option value="joseph akif daniels | software development| 2018-2021"></option>
    <option value="mark scorfield | software development| 2018-2021"></option>
    <option value="zoe amaia smith | software development| 2018-2021"></option>
    <option value="pengia tode | software engineering| 2018-2021"></option>
    <option value="lethabo peterson | human resourses| 2018-2021"></option>
    <option value="samson jackson | multimedia| 2018-2021"></option>
  </datalist>
  <button>Filter</button>
</div>
