
.header{
  height: 400px;
  // background: rgb(36, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../../../assets/back.jfif");
}
.header-description{
  align-self: flex-start;
  padding-left: 20px;
  max-width: 500px;
  font-size: 30px;
  margin: 0;
  color: white;
}
.header >h1{
  color: white;
  font-size: 60px;
  z-index: 1;
}

/*********************/
.heading h1{
  font-size: 36px;
  position: relative;
  display:inline-block;
}
.heading h1::after{
  position: absolute;
  bottom: -10px;
  content: " ";
  width:200px;
  background:black;
  height:2px;
  left: 0%;
  right: 0%;
  background: red;

}
.heading{
  margin-top: 40px ;
  display: flex;
  justify-content: center;
}
.banner{
  background-color: blue;
  color: white;
  height: 50px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sections{
  display: flex;
  justify-content: space-around;
}
.sections .left-section{
  width: 30%;
  border: 1px solid rgb(176, 176, 176);
  border-top: none;
  border-left: none;
  border-bottom: none;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left-section a > h3{
  padding-left: 40px;
  margin-top: 70px;
  color: black;
}

.right-section{
  width: 70%;
  display: flex;
  align-items: flex-start;
  padding-left: 30px;
  flex-direction: column;
  overflow-y: scroll;
}
.post-data{
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow-x: hidden;
}
.post-data button{
  width: 100px;
  align-self: center;
  border-radius: 20px;
  outline: none;
  border: 2px solid yellow;
  background: red;
  font-size: 16px;
  padding: 5px;
  color: white;
  font-weight: 600;
}
 img{
  object-fit: cover;
  width: 100%;
  height: 300px;
}
.post-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
  font-weight: 700;
}
ul{
  list-style: none;
  font:bold;
  padding-right: 5%;
  width: 100%;
  margin: 0;
  padding-right:20px;
}

ul li,a{
  color: darkgray;
  text-decoration: none;
}
a:hover{
  color: red;
}
a:active{
  color: red;
}
a[tabindex]:focus {
  color:red;
  outline: none;
}
