<!-- <app-header>
</app-header> -->
<div class="header">
<h1>{{headerTitle}}</h1>
<div class="header-description">
  <p>{{headerDescription}}</p>
</div>
</div>

<div class="banner">
<h5>VIEW AND  APPLY  FOR LATEST JOB VACCANCIES</h5>
</div>
 <div class="sections">
  <div class="left-section">
    <div class="heading">
      <ul>
        <li>
          <a tabindex="1" routerLink="/career"><h4>On Campus Vaccancies</h4></a>
          <hr>
        </li>
        <li>
          <a tabindex="1" routerLink="/career"><h4>Res Vacanccies</h4>
          </a>
          <hr>
        </li>
        <li>
          <a tabindex="1" routerLink="/career"><h4>Career walk-through</h4></a>

          <hr>
        </li>
      </ul>
     </div>
     <div class="bottom-left-info">
     <a href=""><h3>Find more on News and Events...</h3></a>
     <ul>
      <li>
        <a tabindex="1" routerLink="/career"><h4># NewsFeed Page</h4></a>
      </li>
      <li>
        <a tabindex="1" routerLink="/career"><h4># Events Page</h4>
        </a>
      </li>
      <li>
        <a tabindex="1" routerLink="/career"><h4>TUT Posters</h4></a>
      </li>
      <li>
        <a tabindex="1" routerLink="/career"><h4>Graduation Ceremonies</h4></a>
      </li>
      <li>
        <a tabindex="1" routerLink="/career"><h4>TUT Webmail</h4></a>
      </li>
    </ul>
  </div>
  </div>

  <div class="right-section">
    <div class="top-section">
      
    <h2>New experiences and more chances for recruitment
    </h2>
    <p>From the value of volunteering to the impact of giving, #TUT_ALUMNI have a great career opportunities to share and stay engaged with TUT,their campus expierences and how they want to change the world.</p>

    </div>
    <app-search></app-search>

    <div>
      <div class="heading">
        <h1> ICT</h1>
       </div>
       <div class="post-data">
        <img src="../../../../assets/office.jpg" alt="">
        <div class="post-details">
          <p>Posted: Tuesday, 14 September 2022</p>
          <p>Nelecat </p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
           elit. Aliquid in est doloremque illo voluptatem iusto a
           rchitecto, delectus et, inventore debitis, voluptatibus
           officiis quae
          quod accusamus temporibus praesentium unde. Distinctio, beatae?</p>
          <button>Apply</button>
        </div>
    </div>
    <div>
      <div class="heading">
        <h1> ICT</h1>
       </div>
       <div class="post-data">
        <img src="../../../../assets/office.jpg" alt="">
        <div class="post-details">
          <p>Posted: Tuesday, 14 September 2022</p>
          <p>Nelecat </p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing
           elit. Aliquid in est doloremque illo voluptatem iusto a
           rchitecto, delectus et, inventore debitis, voluptatibus
           officiis quae
          quod accusamus temporibus praesentium unde. Distinctio, beatae?</p>
          <button>Apply</button>
        </div>
    </div>
  </div>
</div>
