<!-- <app-header>
</app-header> -->
<div class="header">
   
    <h1>
          {{headerTitle}}</h1>
    <div class="header-description">
      <p></p>
    </div>
</div>
 
<div class="banner">
  <h5>#TUT_ALUMNI AND FRIENDS GATHERING-FROM SOCIAL TO FACULTY LECTURES OR CAREER NETWORKING NIGHTS
    -OFFERS SOMETHING FOR EVERYONE FIND OUT WHAT'S COMING UP.
  </h5>
</div>
     <div class="sections">
      <div class="left-section">
        <div class="heading">
          <ul>
            <li>
              <a tabindex="1" routerLink="/career"><h4>On Campus Vaccancies</h4></a>
              <hr>
            </li>
            <li>
              <a tabindex="1" routerLink="/career"><h4>Res Vacanccies</h4>
              </a>
              <hr>
            </li>
            <li>
              <a tabindex="1" routerLink="/career"><h4>Career walk-through</h4></a>
    
              <hr>
            </li>
          </ul>
         </div>
         <div class="bottom-left-info">
         <a href=""><h3>Find more on News and Events...</h3></a>
         <ul>
          <li>
            <a tabindex="1" routerLink="/career"><h4># NewsFeed Page</h4></a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4># Events Page</h4>
            </a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>TUT Posters</h4></a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>Graduation Ceremonies</h4></a>
          </li>
          <li>
            <a tabindex="1" routerLink="/career"><h4>TUT Webmail</h4></a>
          </li>
        </ul>
      </div>
      </div>

      <div class="row"> 
        <div class="column"> 
                <div class="card">
                  <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  
                    <img src="assets/image/aa.jpg" alt="Profile" style="width:100%">
                    <h2>Event Name</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Aliquid in est doloremque illo voluptatem iusto a
                      rchitecto, delectus et, inventore debitis, voluptatibus
                      officiis quae
                     quod accusamus temporibus praesentium unde. Distinctio, beatae?</p>

                     <h3>Location: Soshanguve</h3>
                     <h4>Date:30 September 2022</h4>
                     <h5>Time:13:00</h5>
                     <a href ="#" class="btn btn-primary">VIEW</a>
                    
                  </div>
                </div>
              </div>
              <div class="column"> 
                <div class="card">
                  <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  
                    <img src="assets/image/aa.jpg" alt="Profile" style="width:100%">
                    <h2>Event Name</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Aliquid in est doloremque illo voluptatem iusto a
                      rchitecto, delectus et, inventore debitis, voluptatibus
                      officiis quae
                     quod accusamus temporibus praesentium unde. Distinctio, beatae?</p>

                     <h3>Location: Soshanguve</h3>
                     <h4>Date:30 September 2022</h4>
                     <h5>Time:13:00</h5>
                     <a href ="#" class="btn btn-primary">VIEW</a>
                    
                  </div>
                </div>
              </div>
      </div>
 
    
     
    
   
